<!DOCTYPE html>
<html>
    <head>
    </head>
    <body>
    <h1>アキネーター</h1>
    <p>質問</p>
    {% if question == None %}
        <p>None</p>
    {% else %}
        <p>{{question}}</p>
    {% endif %}
    <form action="/" method = "POST">
        <button type="submit" name="answer" value="yes">はい</button>
        <button type="submit" name="answer" value="probably">たぶんそう</button>
        <button type="submit" name="answer" value="probably_no">たぶん違う</button>
        <button type="submit" name="answer" value="no">いいえ</button>
        <button type="submit" name="answer" value="unknown">分からない</button>
        <button type="submit" name="answer" value="reset">リセット</button>
        <button type="submit" name="answer" value="revert">戻す</button>
    </form>
    <p>回答履歴</p>
    {% if QA != None %}
        <table border="1">
            {% for row in QA %}
            <tr>
                {% for item in row %}
                <td>{{ item }}</td>
                {% endfor %}
            </tr>
            {% endfor %}
        </table>
    {% endif %}
    </body>
</html>
